:root {
  --white: #FFFFFF;

  --gray-100: #E1E1E6;
  --gray-300: #C4C4CC;
  --gray-400: #8D8D99;
  --gray-500: #7C7C8A;
  --gray-600: #323238;
  --gray-700: #29292E;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00B37E;
  --green-500: #00875F;
  --green-700: #015F43;

  --yellow-300: #CDCD00;
  --yellow-500: #939300;
  --yellow-700: #5A5A00;

  --red-300: #F75A68;
  --red-500: #AB222E;
  --red-700: #7A1921;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--gray-700);
}


body {
  background-color: var(--gray-800);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
}

body,
input,
textarea,
button {
  font: 400 1rem Roboto, sans-serif;
}

.css-b62m3t-container:focus-visible {
  outline: none !important;
  border: none !important;
}

.inputSelect__control {
  border-radius: 6px !important;
  background-color: var(--gray-900) !important;
  color: var(--gray-100) !important;
  border: 0 !important;
  padding: 0.5rem;
}

.inputSelect__control .inputSelect__control--is-disabled {
  cursor: not-allowed;
}

.inputSelect__control--is-disabled {
  background-color: var(--gray-900) !important;
}

.inputSelect__control--is-disabled .inputSelect__placeholder {
  color: var(--gray-600) !important;
  text-decoration: line-through !important;
}

.css-t3ipsp-control:hover {
  border: none !important;
}

.inputSelect__input {
  color: var(--gray-300) !important;
}

.inputSelect__input-container {
  border: none !important;
  box-shadow: unset !important;
}

.inputSelect__input-container input:focus {
  box-shadow: none !important;
}

.inputSelect__control:hover {
  border: none !important;
  box-shadow: unset !important;
}

.inputSelect__single-value {
  color: var(--gray-100) !important;
}

.inputSelect__indicator-separator {
  display: none;
}

.inputSelect__dropdown-indicator::after {
  content: '';
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--gray-600);
}

.inputSelect__dropdown-indicator svg {
  display: none;
}

.inputSelect__option--is-selected {
  border: none;
  background: var(--green-700) !important;
}

.inputSelect__control--is-focused {
  outline: none !important;
}

.inputSelect__option--is-focused {
  background: var(--green-500) !important;
  font-weight: bold !important;
}

.inputSelect__menu--is-focused {
  background-color: var(--gray-900) !important;
}

.inputSelect__menu {
  background-color: var(--gray-900) !important;
  color: var(--gray-100) !important;
}