.button {
  width: 100%;
  border: 0;
  font-weight: bold;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.primary {
  background: var(--green-500);
  color: var(--white);
}

.disabled {
  background: var(--gray-400) !important;
  color: var(--white);
}

.primary:hover {
  background: var(--green-700);
  transition: background-color 0.2s;
}

.secondary {
  background: var(--yellow-500);
  color: var(--white);
}

.secondary:hover {
  background: var(--yellow-700);
  transition: background-color 0.2s;
}

.dark {
  background: var(--gray-700);
  color: var(--gray-300);
}

.red {
  background: var(--red-500);
  color: var(--white);
}

@media (min-width: 768px) {
  .button {
    width: auto;
    height: 50px;
  }
}