.transactionsContainer {
  width: 100vw;
  height: 100vh;

  padding: 0 0.5rem;
  max-width: 1120px;

  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 60px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filters button {
  height: 30px;
  width: 60px;
  font-size: 10px;
  font-weight: normal;
  padding: 8px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.filters button:hover {
  background-color: #ccc;
  color: #000;
  border-color: transparent;
}

.transactionsCardTitle {
  grid-area: title;
  border-top-left-radius: 6px;
}

.transactionsCardPrice {
  grid-area: price;
  text-align: right;
  border-top-right-radius: 6px;
}

.transactionsCardCategory {
  grid-area: category;
  text-align: right;
  border-bottom-right-radius: 6px;
}

.transactionsCardCreatedAt {
  grid-area: createdAt;
  border-bottom-left-radius: 6px;
}

.transactionsContainer tbody {
  font-size: 0.7rem;
  display: inline-table;
  width: 100%;
}

.transactionsContainer tr {
  display: grid;
  width: 100%;
  grid-template-areas:
    "title price"
    "createdAt category"
  ;
  margin-bottom: 0.5rem;
}

.transactionsContainer td {
  width: 100%;
  padding: 0.5rem 0.7rem;
  background: var(--gray-700);
}

.negativeSymbol {
  margin-left: -9px;
}

.income {
  color: var(--green-300);
}

.outcome {
  color: var(--red-300);
}

@media (min-width: 400px) {
  .transactionsContainer tr {
    display: table-row;
    margin-bottom: unset;
  }

  .filter {
    margin: -1rem 0 0.1rem;
  }

  .transactionsContainer td {
    width: unset;
  }

  .transactionsCardTitle {
    border-radius: 0;
  }

  .transactionsCardPrice {
    border-radius: 0;
  }

  .transactionsCardCreatedAt {
    border-radius: 0;
  }

  .transactionsContainer td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .transactionsContainer td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .transactionsCardCategory {
    border-bottom-right-radius: unset;;
  }

}

@media (min-width: 768px) {
  .transactionsContainer {
    /* margin-top: 1.5rem; */
    padding: 0 1.5rem;
    padding-bottom: 60px;
  }
  
  .transactionsContainer tbody {
    font-size: 1rem;
  }

  .transactionsContainer td {
    width: 100%;
    width: unset;
    text-align: left;
    padding: 1.25rem 2rem;
  }

  
}