.transactionsContainer {
  width: 100vw;
  height: 100vh;

  padding: 0 0.5rem;
  max-width: 1120px;

  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-top: 0.5rem;
}

.filters {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.filters {
  display: flex;
  gap: 16px;
}

.filters button {
  height: 30px;
  width: 60px;
  font-size: 10px;
  font-weight: normal;
  padding: 8px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.filters button:hover {
  background-color: #ebeaea;
  color: #000;
  border-color: transparent;
}

.filters button.filterActive {
  background-color: #fff;
  color: var(--gray-700);
}

.transactionsCardQuantity {
  grid-area: quantity;
}

.transactionsCardTitle {
  grid-area: title;
  width: 50px;
  border-top-left-radius: 6px;
}

.transactionsCardPrice {
  grid-area: price;
  text-align: right;
  border-top-right-radius: 6px;
}

.transactionsCardCategory {
  grid-area: category;
  text-align: right;
}

.transactionsCardCreatedAt {
  grid-area: createdAt;
}

.transactionsContainer tbody {
  font-size: 0.7rem;
  display: inline-table;
  width: 100%;
  padding-bottom: 60px;
}

.transactionsContainer tr {
  display: grid;
  width: 100%;
  grid-template-areas:
    "title title"
    "quantity price"
    "createdAt category"
    "options options"
  ;
  margin-bottom: 0.5rem;
}

.transactionsContainer td {
  width: 100%;
  padding: 0.5rem 0.7rem;
  background: var(--gray-700);
}

.options {
  display: flex;
  justify-content: space-between;
  grid-area: options;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  gap: 8px;
}

.optionsButton {
  cursor: pointer;
}

.outcome {
  color: var(--red-300) !important;
}

.toastConfirm {
  display: flex;
  flex-direction: column;
}

.toastConfirm button {
  width: 100%;
  border: 0;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.toastConfirm #no {
  background-color: var(--red-500);
}

@media (min-width: 400px) {
  .transactionsContainer tr {
    display: table-row;
  }

  .transactionsContainer tbody {
    margin-bottom: unset;
  }
  
  .options {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: unset;
  }

  .transactionsContainer td {
    width: unset;
  }

  .transactionsCardTitle {
    border-radius: 0;
  }

  .transactionsCardPrice {
    border-radius: 0;
  }

  .transactionsCardCreatedAt {
    border-radius: 0;
  }

  .transactionsContainer td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .transactionsContainer td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .transactionsCardCategory {
    border-bottom-right-radius: unset;
    ;
  }

}

@media (min-width: 768px) {
  .transactionsContainer {
    padding: 0 1.5rem;
    padding-bottom: 60px;
  }

  .filters {
    justify-content: flex-end;
  }

  .transactionsContainer tbody {
    font-size: 1rem;
  }

  .transactionsContainer td {
    width: 100%;
    width: unset;
    text-align: left;
    padding: 1rem 1.5rem;
  }


}