.modalBackground {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999999;
}

.modalContent {
  width: 100vw;
  /* max-width: 40rem; */
  height: 100vh;
  overflow-y: scroll;

  border-radius: 6px;
  padding: 32px;
  background: var(--gray-800);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeButton {
  position: absolute;
  background: transparent;
  border: 0;
  top: 1rem;
  right: 1rem;
  line-height: 0;
  cursor: pointer;
  color: var(--gray-500);
}

@media (min-width: 768px) {
  .modalContent {
    padding: 2.5rem 3rem;
    width: 100%;
    max-width: 40rem;
    height: 90vh;
  }
  
  .closeButton {
    top: 2.5rem;
    right: 3rem;
  }
}