.headerContainer {
  width: 100%;
  background: var(--gray-900);
  padding: 1.5rem 0 5.5rem;
}

.headerContent {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 0.5rem;

  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.newTransactionButton {
  text-wrap: nowrap;
}


.accounts {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: 16px;

  position: fixed;
  bottom: 0;
  left: 0;
}

.accounts button {
  width: 20%;
}

.primary {
  border-bottom: 2px solid var(--green-300);
}

.secondary {
  border-bottom: 2px solid var(--yellow-300);
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modalForm h2 {
  margin-bottom: 1rem;
}

.inputButton {
  display: flex;
  gap: 16px;
  margin: 1rem 0;
}

.modalForm #paymentDestination {
  padding: 0.7rem !important;
}

.inputButton button {
  padding: 1rem;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  border: 0px;
  font-weight: normal;
}

.subFieldFormStyle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 400px) {
  .headerContainer {
    padding: 1.5rem 0 4rem;
  }

}

@media (min-width: 768px) {

  .subFieldFormStyle {
    display: grid;
    grid-template-columns: 1fr 30% 20px;
    grid-template-areas: "name quantity";
    align-items: center;
  }

  .headerContainer {
    padding: 2.5rem 0 7.5rem;
  }

  .headerContent {
    flex-direction: row;
    align-items: center;
    padding: 0 1.5rem;
  }

  .accounts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    position: unset;

    gap: 16px;
  }
}