.headerContainer {
  width: 100%;
  background: var(--gray-900);
  padding: 1.5rem 0 5.5rem;
}

.headerContent {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 0.5rem;

  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.accounts {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: 16px;

  position: fixed;
  bottom: 0;
  left: 0;
}

.primary {
  border-bottom: 2px solid var(--green-300);
}

.secondary {
  border-bottom: 2px solid var(--yellow-300);
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modalForm h2 {
  margin-bottom: 1rem;
}

.inputButton {
  display: flex;
  gap: 16px;
}

.modalForm #paymentDestination {
  padding: 0.7rem !important;
}

.inputButton button {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
  display: grid;
  grid-template-columns: 50px 50px;
  justify-content: center;
  justify-items: start;
}

@media (min-width: 400px) {
  .headerContainer {
    padding: 1.5rem 0 4rem;
  }
}

@media (min-width: 768px) {
  .headerContainer {
    padding: 2.5rem 0 7.5rem;
  }

  .headerContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
  }

  .accounts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    position: unset;

    gap: 16px;
  }
}